<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdyw.swsw.system.dao.grid.D3GridFusionMapper">
    <resultMap id="BaseResultMap" type="com.cdyw.swsw.common.domain.entity.grid.D3GridFusion">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="file_name" jdbcType="VARCHAR" property="fileName"/>
        <result column="format" jdbcType="VARCHAR" property="format"/>
        <result column="file_size" jdbcType="REAL" property="fileSize"/>
        <result column="file_url" jdbcType="VARCHAR" property="fileUrl"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="date_time" jdbcType="TIMESTAMP" property="dateTime"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="cnty" jdbcType="VARCHAR" property="cnty"/>
        <result column="station_id_c" jdbcType="VARCHAR" property="stationIdC"/>
        <result column="rada_model" jdbcType="VARCHAR" property="radaModel"/>
        <result column="prod_type_rada" jdbcType="VARCHAR" property="prodTypeRada"/>
        <result column="d_file_save_hierarchy" jdbcType="INTEGER" property="dFileSaveHierarchy"/>
        <result column="d_source_id" jdbcType="VARCHAR" property="dSourceId"/>
        <result column="d_file_id" jdbcType="VARCHAR" property="dFileId"/>
        <result column="elev" jdbcType="REAL" property="elev"/>
    </resultMap>

    <sql id="radar-3d-grid-fusion-insert-column">
        name, pos_file, file_size,
        pos_picture, type, radarcd,
        time, layer, scan_mode,
        mcode, rain_type
    </sql>

    <!--    select-->
    <!--    DISTINCT name-->
    <!--    from data_3dgridfusion_third_202006_parse as ds-->
    <!--    right join (-->
    <!--    select-->
    <!--    MAX( `time` ) time-->
    <!--    from data_3dgridfusion_third_202006_parse-->
    <!--    where-->
    <!--    type = 600-->
    <!--    and time >= 1593489000-->
    <!--    and time <= 1593489600-->
    <!--    ) as temp on temp.time = ds.time where name like CONCAT('%','100.json');-->


    <select id="getDataParseByTypeAndTime" resultType="java.util.Map">
        <trim prefix="select" suffixOverrides=",">
            distinct `name`,
        </trim>
        from ${tableName} as ds
        right join (
        <trim prefix="select" suffixOverrides=",">
            MAX( `time` ) time,
        </trim>
        from ${tableName}
        <trim prefix="where" prefixOverrides="and |or">
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="startTime != null">
                and `time` >= #{startTime}
            </if>
            <if test="endTime != null">
                and `time` &lt;= #{endTime}
            </if>
        </trim>
        ) as temp on temp.time = ds.time where name like CONCAT('%', '_', #{hight}, '.json')
    </select>

    <insert id="insert" parameterType="com.cdyw.swsw.common.domain.entity.grid.D3GridFusion">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        <!-- insert into ${tableName} (-->
        insert into ${tableName} (
        <include refid="radar-3d-grid-fusion-insert-column"/>
        )
        values (
        <if test="d3GridFusion != null">
            #{d3GridFusion.fileName,jdbcType=VARCHAR}, #{d3GridFusion.format,jdbcType=VARCHAR},
            #{d3GridFusion.fileSize,jdbcType=REAL},
            #{d3GridFusion.fileUrl,jdbcType=VARCHAR}, #{d3GridFusion.createTime,jdbcType=TIMESTAMP},
            #{d3GridFusion.dateTime,jdbcType=TIMESTAMP},
            #{d3GridFusion.province,jdbcType=VARCHAR}, #{d3GridFusion.city,jdbcType=VARCHAR},
            #{d3GridFusion.cnty,jdbcType=VARCHAR},
            #{d3GridFusion.stationIdC,jdbcType=VARCHAR}, #{d3GridFusion.radaModel,jdbcType=VARCHAR},
            #{d3GridFusion.dFileSaveHierarchy,jdbcType=INTEGER},
            #{d3GridFusion.dSourceId,jdbcType=VARCHAR}, #{d3GridFusion.dFileId,jdbcType=VARCHAR}
        </if>
        )
    </insert>
</mapper>