<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO"> <!-- log4j2的日志级别；优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
    <properties>
        <property name="LOG_HOME">/swsw/logs/system-logs</property>
        <property name="FILE_NAME">swsw-system</property>
        <property name="log.sql.level">DEBUG</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level - %msg%n"/>
        </Console>

        <RollingRandomAccessFile name="RollingRandomAccessFile" fileName="${LOG_HOME}/${FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd HH-mm}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>
            <Policies>
                <!-- TimeBasedTriggeringPolicy和filePattern结合使用,表示多长时间滚动生成一个新文件 -->
                <!--            <TimeBasedTriggeringPolicy interval="1"/> -->
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Root level="INFO"> <!-- 全局日志级别，优先顺序同log4j2 -->
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingRandomAccessFile"/>
        </Root>

        <Logger name="com.cdyw.dao" level="${log.sql.level}" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>