<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdyw.swsw.system.dao.radarextrapolation.RadarExtraplationMapper">
    <!-- 注意：要是实体类中已经用了注解@Alias别名，所有Type处都可以直接拿来用 -->
    <resultMap id="RadarExtraplationMap"
               type="com.cdyw.swsw.common.domain.entity.radarextrapolation.RadarExtrapolation">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="posFile" column="pos_file"/>
        <result property="fileSize" column="file_size"/>
        <result property="type" column="type"/>
        <result property="radarcd" column="radarcd"/>
        <result property="time" column="time"/>
        <result property="layer" column="layer"/>
        <result property="mcode" column="mcode"/>
        <result property="createTime" column="create_time"/>
        <result property="lonMin" column="lon_min"/>
        <result property="lonMax" column="lon_max"/>
        <result property="latMin" column="lat_min"/>
        <result property="latMax" column="lat_max"/>
    </resultMap>

    <select id="selectDataByParam" resultMap="RadarExtraplationMap">
        SELECT *
        from ${tableName} d
                 RIGHT JOIN
             (select max(time) as time
              from ${tableName}
              where time &lt;= #{time}
                and type = #{productType}) as temp
             on d.time = temp.time
        WHERE type = #{productType}
    </select>
</mapper>